# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/

# Database
*.db
*.sqlite3

# Node modules & build
node_modules/
dist/
.DS_Store
.env
